<div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <!-- buttons row -->
            <% if @types.any? %>
                <% @types.each do |t| %>
                    <div class="row" id="<%= t.pname %>">
                      <h5><%= t.name.camelize %></h5>
                      <legend></legend>
                      <% if @products.any? %>
                          <% @products.each do |p| %>
                              <% if p.type and t.id == p.type.id %>
                                  <%= link_to detail_path(p) do %>
                                      <div class="col-md-3 col-sm-6 center-block">
                                        <div class="service-wrapper">
                                          <figure>
                                              <% if p.product_photos.first %>
                                                  <%= image_tag p.product_photos.first.photo.url(:medium)%>
                                              <% else %>
                                                  <img src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/004/medium/built_on_glass.jpg?1484895127">
                                              <% end %>
                                              <% if p.sale_off!=nil and p.sale_off > 0 %>
                                                  <figcaption>
                                                    <div>
                                                      <% if p.discount_by_percentage %>
                                                          <%= number_to_currency((p.price - (p.price/100*p.sale_off)), locale: :vi, precision: 0).to_s if p.price %>
                                                      <% else %>
                                                          <%= number_to_currency(p.price - p.sale_off, locale: :vi, precision: 0).to_s if p.price %>
                                                      <% end %>
                                                    </div>
                                                    </figcation>
                                              <% else %>
                                                  <figcaption>
                                                    <div><%= number_to_currency(p.price, locale: :vi, precision: 0).to_s if p.price %></div>
                                                    </figcation>
                                              <% end %>
                                            </figure>
                                            <p><%= truncate(p.name.camelize, length: 20, omission: '') %></p>
                                            <div class="col-md-10 col-md-offset-1">
                                              <% if p.sale_off %>
                                                <p class="text-primary pull-right">
                                                  <strike style="font-size:10px">
                                                    <%= number_to_currency(p.price, precision: 0).to_s if p.price %>
                                                  </strike>
                                                </p>
                                                <p class="pull-left">
                                                  <% if p.discount_by_percentage %>
                                                      <%= number_to_currency(p.price - p.price/100*p.sale_off, precision: 0).to_s if p.price %>
                                                  <% else %>
                                                      <%= number_to_currency(p.price - p.sale_off, precision: 0).to_s if p.price %>
                                                  <% end %>
                                                </p>
                                            <% else %>
                                                <p class="text-primary">
                                                  <%= number_to_currency(p.price, precision: 0).to_s if p.price %>
                                                </p>
                                            <% end %>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                      </div>
                                  <% end %>
                              <% end %>
                          <% end %>
                      <% end %>
                      <div class="clearfix"></div>
                    </div>
                <% end %>
            <% end %>
            <!-- end container -->
        </div>
    </div>
  </div>
</div>
