<div class="col-md-12">
        <div class="card">
          <div class="container-fliud">
            <div class="wrapper row">
              <div class="preview col-md-6">
                <% if @product.product_photos.first %>
                    <div class="preview-pic tab-content">
                      <div class="tab-pane active" id="<%= @product.product_photos.first.id %>">
                        <%= image_tag @product.product_photos.first.photo.url(:medium) %>
                      </div>
                      <% if @product.product_photos.count > 1 %>
                      <% @product.product_photos.each do |p| %>
                          <div class="tab-pane" id="<%= p.id %>">
                            <%= image_tag p.photo.url(:medium) %>
                          </div>
                      <% end %>
                      <% end %>
                    </div>
                     <% if @product.product_photos.count > 1 %>
                    <ul class="preview-thumbnail nav nav-tabs">
                      <li class="active">
                        <a data-target="#<%= @product.product_photos.first.id %>" data-toggle="tab">
                          <%= image_tag @product.product_photos.first.photo.url(:thumb) %>
                        </a>
                      </li>
                      <% @product.product_photos.each do |p| %>
                          <li>
                            <a data-target="#<%= p.id %>" data-toggle="tab">
                              <%= image_tag p.photo.url(:thumb) %>
                            </a>
                          </li>
                      <% end %>
                      <% end %>
                    </ul>
                <% else %>
                    <img src="//s3.amazonaws.com/amyspa/product_photos/photos/000/000/004/medium/built_on_glass.jpg?1484895127" class="img-rounded">
                <% end %>
              </div>
              <div class="details col-md-6">
                <h3 class="product-title"><%= @product.name.camelize %></h3>
                <div class="rating">
                  <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                  </div>
                  <span class="review-no">Loại: <%= @product.type.name if @product.type %></span>
                </div>
                <p class="product-description"><%= @product.description.camelize %></p>
                <% if @product.sale_off %>
                    <h4 class="price">Giá khuyến mãi:
                      <span>
                    <% if @product.discount_by_percentage %>
                        <%= number_to_currency(@product.price - @product.price/100*@product.sale_off, locale: :vi, precision: 0).to_s if @product.price %>
                    <% else %>
                        <%= number_to_currency(@product.price - @product.sale_off, locale: :vi, precision: 0).to_s if @product.price %>
                    <% end %>
                    </span>
                    </h4>
                    <h4 class="price">Giá cũ:
                      <span>
                    <strike class="text-muted">
                      <%= number_to_currency(@product.price, locale: :vi, precision: 0).to_s if @product.price %>
                    </strike>
                    </span>
                    </h4>

                <% else %>
                    <h4 class="price">Giá:
                      <span>
                    <%= number_to_currency(@product.price, locale: :vi, precision: 0).to_s if @product.price %>
                  </span>
                    </h4>
                <% end %>
                <p class="vote">Nhà cung cấp:<strong><%= @product.vendor.name if @product.vendor %></strong></p>
                <div class="action">
                  <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                  <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>