<link href="https://cdn.quilljs.com/1.2.0/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.2.0/quill.js"></script>
<style>
  .row {
    margin-top: 15px;
  }
  .row.form-group {
    padding-left: 15px;
    padding-right: 15px;
  }
  .btn {
    margin-left: 15px;
  }

  .change-link {
    background-color: #000;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    bottom: 0;
    color: #fff;
    opacity: 0.8;
    padding: 4px;
    position: absolute;
    text-align: center;
    width: 150px;
  }
  .change-link:hover {
    color: #fff;
    text-decoration: none;
  }

  img {
    width: 300px;
  }

  #editor {
    height: 500px;
  }
</style>
<%= form_for @product, html: {multipart: true} do |f| %>
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title"><%= title %></h4>
        </div>
        <div class="content">

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label 'Tên sản phẩm' %><br>
                <%= f.text_field :name, class:"form-control", placeholder:"Tên sản phẩm" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label 'Giá' %><br>
                <%= f.text_field :price, data: {autonumeric: {mDec: 0}} , class:"form-control", placeholder:"Giá" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label 'Giảm giá' %><br>
                <%= f.text_field :sale_off, data: {autonumeric: {mDec: 0}}, class:"form-control", placeholder:"Giảm giá" %>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <%= f.label 'Giảm giá theo phần trăm' %><br>
                <%= f.check_box :discount_by_percentage %>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <%= f.label 'Dịch vụ' %><br>
                <%= f.check_box :is_service %>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <%= f.label 'Hoạt động' %><br>
                <%= f.check_box :product_active %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= f.label 'Loại' %><br>
                <%= f.collection_select :type_id, Type.all, :id, :name,{:include_blank => 'None'}, {:class => 'form-control'} %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <%= f.label 'Nhà cung cấp' %><br>
                <%= f.collection_select :vendor_id, Vendor.all, :id, :name,{:include_blank => 'None'}, {:class => 'form-control'} %>
              </div>
            </div>



            <div class="col-md-6">
              <div class="form-group">
                <%= f.label 'Mô tả' %>
                <%= f.text_area :description, rows:"10", class:"form-control", placeholder:"Thông tin mô tả sản phẩm" %>
              </div>
            </div>


            <div class="col-md-6">
              <div class="form-group">
                <%= f.label "Tiêu đề video" %><br>
                <%= f.text_field :caption, class:"form-control", placeholder:"Tiêu đề" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label 'Video link' %><br>
                <%= f.text_field :video_url, class:"form-control", placeholder:"https://www.youtube.com/watch?v=abcd", id:"product_video_url" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" id="video-frame-holder">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :photo %><br>
                <div class="file-upload btn btn-info btn-sm">
                  <p id="uploadFile">Chọn File</p>
                  <%= file_field_tag "photos[]", type: :file, multiple: true, accept:"images/*", class:'upload', id:'uploadBtn' %>
                </div>
                <div class="col-md-12" id="preview"></div>
                <% if @product.product_photos.any? |p| %>
                    <% @product.product_photos.each do |p| %>
                        <div class="col-md-3">
                          <div class="card" data-no-turbolink="">
                            <div class="thumbnail">
                              <%= image_tag p.photo.url(:thumb) %>
                            </div>
                          </div>
                        </div>
                    <% end %>
                <% end %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                 <%= f.text_area :extra_info, class:"form-control", type:"hidden"%>
                <div id="toolbar"></div>
                <div id="editor"></div>
              </div>
            </div>
            <div class="col-md-12 actions">
              <%= f.submit(title,class:"btn btn-info btn-fill pull-right") %>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
<% end %>
<!-- Initialize Quill editor -->
<script>
    var toolbarOptions = [
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        [{ 'font': [] }],
        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        ['bold', 'italic', 'underline', 'strike', 'link'],        // toggled buttons
        ['image', 'video', 'formula', 'blockquote', 'code-block'],
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
        [{ 'direction': 'rtl' }],                         // text direction

        [{ 'align': [] }],

        ['clean']                                         // remove formatting button
    ];

    var quill = new Quill('#editor', {
        modules: {
            toolbar: toolbarOptions
        },
        theme: 'snow'
    });
    
    var form = document.querySelector('form');
    form.onsubmit = function() {
      // Populate hidden form on submit
      var about = document.querySelector('#product_extra_info');
      about.value = JSON.stringify(quill.getContents());
    };
</script>