<div class="col-md-6">
    <div class="card">
        <div class="header">
            <h4 class="title">Thông tin sản phẩm</h4>
        </div>
        <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                             <%= label_tag 'Tên Sản Phẩm' %><br>
                             <p><%= @product.name %></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                             <%= label_tag 'Giá' %><br>
                             <p><%= number_to_currency(@product.price, locale: :vi, precision: 0).to_s if @product.price %></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                             <%= label_tag 'Giảm Giá' %><br>
                             <p><%= number_to_currency(@product.sale_off, locale: :vi, precision: 0).to_s if @product.sale_off %></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                         <div class="form-group">
                             <%= label_tag 'Giảm Giá Theo Phẩn Trăm' %><br>
                             <%= check_box_tag nil, @product.discount_by_percentage, @product.discount_by_percentage , disabled: true %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                             <%= label_tag 'Loại' %><br>
                             <% if @product.type %>
                             <p><%= @product.type.name %></p>
                             <% else %>
                             <p>None</p>
                             <% end %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                              <%= label_tag 'Nhà cung cấpr' %><br>
                             <% if @product.vendor %>
                             <p><%= @product.vendor.name %></p>
                             <% else %>
                             <p>None</p>
                             <% end %>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <%= label_tag 'Dịch Vụ' %><br>
                            <%= check_box_tag nil, @product.is_service, @product.is_service, disabled: true %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <%= label_tag 'Hoạt Động' %><br>
                            <%= check_box_tag nil, @product.product_active, @product.product_active, disabled: true %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <%= label_tag 'Mô Tả' %><br>
                            <%= text_area_tag nil, @product.description, rows:"10", class:"form-control", disabled: true %>
                        </div>
                    </div>
                </div>
        </div>
    </div>
  </div>
<div class="col-md-6">
    <div class="card">
        <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                             <%= label_tag 'Tiêu đề Video' %><br>
                             <p><%= @product.caption %></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <%= label_tag 'Link Video' %><br>
                            <p><%= @product.video_url %></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <% if @product.video_url != '' %>
                        <div class="hs-responsive-embed-youtube">
                          <iframe src="<%= @product.video_url %>"frameborder="0" width="100%" allowfullscreen ></iframe>
                          </div>
                        <% end %>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                          <hr>
                          <% if @product.product_photos.any? |p| %>
                          <%= label_tag "Photos" %><br>
                          <% @product.product_photos.each do |p| %>
                            <div class="col-md-3">
                              <div class="card" data-no-turbolink="">
                                <div class="thumbnail" style='position:reletive'>
                                   <%= image_tag p.photo.url(:thumb) %>
                                   <%= link_to product_photo_path(p), method: :delete , class:"delete-button" do %>
                                        <i class="fa fa-times" aria-hidden="true" class="text-danger"></i>
                                    <% end %>
                                </div>
                              </div>
                            </div>
                          <% end %>
                          <% end %>
                    </div>
                  </div>
                </div>
                  <%= link_to 'Sửa', edit_product_path(@product), class:"btn btn-info btn-fill pull-right", style:"margin-left: 10px" %>
                  <%= link_to 'Thêm Sản Phẩm', new_product_path, class:"btn btn-info btn-fill pull-right" %>
                <div class="clearfix"></div>
        </div>
    </div>
  </div>